@tailwind base;
@tailwind components;
@tailwind utilities;

.titleStyle {
    @apply text-center text-5xl font-bold uppercase italic
}

body {
    font-family: 'Open Sans', sans-serif;
}

.active {
    @apply text-primary
}

.nonActive:hover {
    @apply text-primary
}

.disActive {
    @apply flex items-center gap-3 border border-primary rounded p-1
}

.activeDash {
    @apply flex items-center gap-3 bg-primary text-zinc-100 p-1 border border-white rounded
}

.disActive:hover {
    @apply bg-primary text-zinc-100 border-white rounded
}

.modalMargin {
    margin: 0 !important;
}

@media all and (max-width:640px) {
    .container {
        width: 90%;
        margin: auto;
    }

    .titleStyle {
        @apply text-3xl
    }
}